body {
    overflow-x: hidden;
}
.header {
    display: grid;
    grid-template-columns: 1fr 148px 1fr;
    margin: 92px 39px 92px 51px;
}
.header__menu {
    display: flex;
    align-items: center;
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.header__links-list {
    list-style: circle;
    display: flex;
}
.header__links-list-item {
    padding-right: 32px;
}
.none-links {
    text-decoration: none;
}
.header__links-list-item_no-bullit {
    list-style: none;
}
.header__logo-image {
    min-width: 148px;
    min-height: 105px;
}
.header__address {
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
}
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    background: #000;
    opacity: 0.6;
}
.cover {
    background-image: url('../images/cover.jpg');
    background-size: cover;
    position: relative;
}
.cover__title {
    position: relative;
    color: #FFF;
    font-family: Raleway;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 30px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    z-index: 1;
}
.aligned-text {
    margin-top: 165px;
    margin-right: 50px;
}
.aligned-text_center {
    text-align: center;
    margin-right: 110px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.aligned-text_right {
    text-align: end;
    margin-right: 50px;
}
.letter-spacing-extended {
    letter-spacing: 60px;
}
.no-letter-spacing {
    letter-spacing: 0;
}
.cover__description {
    max-width: 633px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.cover__description-text {
    position: relative;
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 127.273% */
    text-transform: uppercase;
    word-spacing: 18px;
    white-space: nowrap;
    max-width: 633px;
    margin-top: 147px;
    margin-bottom: 62px;
    margin-left: 422px;
    z-index: 1; 
}
.bet-button {
    border: 1px solid #FFF;
    position: relative;
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    background-color: transparent;
    white-space: nowrap;
    z-index: 1;
    padding: 12px 32px;
    margin:135px 50px 50px 78px;
}
.lots {
    min-width: 1340px;
    min-height: 579px;
    margin-top: 180px;
    margin-right: 40px;
    margin-left: 50px;
    position: relative;
}
.lots__heading {
    color: #000;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 40px;
}
.lots__card-list {
    list-style: none;
    display: flex;
}
.lots__card-list-item {
    min-width: 430px;
    min-height: 450px;
    margin-top: 27px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.card_type_film {
    background-image: url('../images/card-lot-01.jpg');
    background-size: cover;
    position: relative;
    margin-right: 25px;
}
.card_type_book {
    background-image: url('../images/card-lot-02.jpg');
    background-size: cover;
    position: relative;
    margin-right: 25px;
}
.card_type_picture {
    background-image: url('../images/card-lot-03.jpg');
    background-size: cover;
    position: relative;
}
.card-link {
    display: block;
    height: 100%;
    
}
.card {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.card__title {
    position: relative;
    z-index: 1;
    min-height: 52px;
    min-width: 350px;
    color: #FFF;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;  
    text-decoration-line: underline;
    text-transform: uppercase;
    margin: 50px 40px 50px 40px;
}
.card__text {
    position: relative;
    z-index: 1;
    max-width: 350px;
    min-height: 96px;
    color: #FFF;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
    text-decoration: none;
    margin: 50px 40px 50px 40px;
}
.lots__look-more-link {
    position: absolute;
    margin-left: 40px;
    margin-top: 30px;
    color: #000;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}
.about {
    display: grid;
    margin-top: 181px;
    margin-right: 40px;
    margin-left: 50px;
    width: 1340px;
    height: 100vh;
    grid-template-columns: 430px 885px;
    grid-template-rows: 240px;
}
.about__column {
    display: flex;
    justify-content: center;
    align-items: center;
}
.about__logo {
    width: 240px;
    height: 240px;
    padding: 0px 95px;
    border-radius: 50%;
    position: relative;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.about__logo-image {
    min-width: 148px;
    min-height: 114px;
    background-image: url('../images/logo-white.svg');
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center; 
}
.about__column-text {
    margin-top: 100px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.about__title {
    margin-bottom: 100px;
    color: #000;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.about__text-first {
    color: #000;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 25px;;
}
.about__text {
    color: #000;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footer {
    display: flex;
    margin-left: 40px;
    margin-right: 50px;
    margin-top: 180px;
    margin-bottom: 226px;
    max-height: 97px;
    justify-content: space-between;
}
.footer__address {
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
    display: flex;
    flex-direction: column;
}
.footer__menu {
    display: flex;
    min-width: 149px;
}
.footer__menu-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer__menu-list-item {
    display: flex;
    justify-content: center;
}
.footer__social-list {
    display: flex;
    width: 240px;
    height: 48px;
    justify-content: space-between;
    align-items: start;
    list-style-type: none;
}
.footer__social-icon {
    max-height: 48px;
    display: flex;
}

